certifi==2018.4.16
chardet==3.0.4
Django==1.11.13
django-admin-tools==0.8.1
django-allauth==0.36.0
django-autoslug-iplweb==1.9.4.dev0
django-bootstrap3==10.0.1
django-jquery==3.1.0
django-jsonfield==1.0.1
django-widget-tweaks==1.4.2
djangorestframework==3.8.2
idna==2.7
oauthlib==2.1.0
psycopg2==2.7.4
python-openid==2.2.5
pytz==2018.5
requests==2.19.1
requests-oauthlib==1.0.0
urllib3==1.23
