<!--{% load bootstrap3 %}-->
<!--{% load staticfiles %}-->

<!--<html lang="en">-->

<!--<head>-->
  <!--<title>Login</title>-->
  <!--<meta charset="utf-8">-->
  <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
  <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
  <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>-->
  <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

      <!--&lt;!&ndash;css style&ndash;&gt;-->
    <!--<link rel="stylesheet" href="{% static 'css/style.css' %}">-->
<!--</head>-->

<!--<body>-->
<!--{% if error %}-->
<!--{{ error }}-->
<!--{% endif %}-->

<!--<form method="post" action="/login/">-->
    <!--{% csrf_token %}-->
    <!--<div>-->
        <!--Name: <input type=text placeholder="Name" name="name">-->
        <!--Password: <input type=password placeholder="Password" name="password">-->
        <!--<input type="submit" value="login">-->
    <!--</div>-->
<!--</form>-->

<!--</body>-->

<!--</html>-->
<center>
{% block title %}Login{% endblock %}
    {% block content %}
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-8">
            <form id="login-form" method="post" action="/login/">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td><label for="id_username">Username</label></td>
                        <td><input id="id_username" name="username"
                                   type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><label for="id_password">Password</label></td>
                        <td><input id="id_password" name="password"
                                   type="password" class="form-control"></td>
                    </tr>
                </table>
                {% if form.errors %}
                    <p class=" label label-danger">
                        Your username and password didn't match.
                        Please try again.
                    </p>
                {% endif %}

                <input type="submit" value="Login"
                       class="btn btn-primary pull-right" />
                <input type="hidden" name="next" value="{{ next }}" />
            </form>
        </div>
    </div>
</center>
{% endblock content %}