{% load bootstrap3 %}
{% load staticfiles %}

<html lang="en">

<head>
  <title>SignUp</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

      <!--css style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<form method=post action="/signup/">
    {% csrf_token %}

    <input type="text" name="phone" placeholder="Phone No">
    <input type="text" name="email" placeholder="Email">
    <input type="text" name="password1" placeholder="Password">
    <input type="text" name="password2" placeholder="Password Again">

    <input type="submit" value="signup">

</form>

</body>
</html>