{% load bootstrap3 %} {% load staticfiles %}

<html>

<head>
    <title>Employee</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--css style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>

    <div class="topnav">
        <div class="header">
            <a href="#" title="Employee_data"><img class="site-logo" src="static/images/demo.png" alt="Demo"></a>
        </div>
        <a class="active" href="main.html">Home</a>
        <a href="about.html">About</a>
        <a href="show.html">Employee portal</a>
        <a href="contact.html">Contact</a>
    </div>

    <div style="padding-left:16px">
        <h2>About </h2>
        <p></p>
    </div>

    <div class="footer">
        <p>© copyright</p>
    </div>

</body>

</html>