{% load bootstrap3 %} {% load staticfiles %}
<html>
   <head>
      <title>Employee</title>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <!--css style-->
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
   </head>
   <body>
      <div class="container">
         <div class="topnav">
            <div class="header">
               <a href="#" title="Employee_data"><img class="site-logo" src="/static/images/logo.png" height="39px" width="110px" alt="Demo"></a>
            </div>
            <a class="active" href="main.html"><i class="glyphicon glyphicon-home"></i> Home</a>
            <a href="about.html" class="w3-padding w3-xlarge w3-teal"><i class=" "></i> ABOUT</a>
            <a href="show.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> Employee portal</a>
            <a href="contact.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
            <form action="{% url 'home' %}" method="get">
               <a href="/home"><i class="fa fa-sign-out" style="font-size:26px;color:red"></i></a>
            </form>
         </div>
         <div style="padding-left:16px">
            <h2>About </h2>
            <p></p>
         </div>
         <div class="footer">
            <p>© copyright</p>
         </div>
      </div>
   </body>
</html>