{% load bootstrap3 %} {% load staticfiles %}

<html lang="en">

<head>
    <title>Edit</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--css style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="POST" class="post-form" action="/update/{{employee.id}}">
        {% csrf_token %}

        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <h3>Update Details</h3>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Id:</label>
                <div class="col-sm-4">
                    <!--{{ employee.eid }}-->
                    <input type="text" name="eid" disabled="true" id="id_eid" required maxlength="20" value="{{ employee.eid }}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Name:</label>
                <div class="col-sm-4">
                    <input type="text" name="ename" id="id_ename" required maxlength="100" value="{{ employee.ename }}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Email:</label>
                <div class="col-sm-4">
                    <input type="email" name="eemail" id="id_eemail" required maxlength="254" value="{{ employee.eemail }}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Contact:</label>
                <div class="col-sm-4">
                    <input type="text" name="econtact" id="id_econtact" required maxlength="15" value="{{ employee.econtact }}" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                <div class="col-sm-4">
                    <a href="/update/{{ employee.eid }}">
                        <button class="btn btn-success">Update</button>
                    </a>

                    <!--<a href="/update/{{ employee.eid }}"> <button type="submit" class="btn btn-success">Update</button></a>-->
                    <a href="/show" class="btn btn-warning">Back</a>
                </div>
            </div>

        </div>

        <div class="footer">
            <p>© copyright</p>
        </div>
    </form>
</body>

</html>