{% load bootstrap3 %} {% load staticfiles %}

<html>

<head>
    <title>Employee</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--css style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
          <link rel="stylesheet" href="{% static 'css/fonts.css' %}">

</head>

<body>
<div class="container">
    <div class="topnav">
        <div class="header">
            <a href="#" title="Employee_data"><img class="site-logo" src="/static/images/logo.png" height="39px" width="110px" alt="Demo"></a>
        </div>
        <a href="main.html"><i class="glyphicon glyphicon-home"></i> Home</a>
        <a href="about.html" class="w3-padding w3-xlarge w3-teal"><i class=" "></i> ABOUT</a>
        <a href="show.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i> Employee portal</a>
        <a href="contact.html" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-envelope"></i> CONTACT</a>
        <form action="{% url 'home' %}" method="get">
            <a href="/home"><i class="fa fa-sign-out" style="font-size:26px;color:red"></i></a>
        </form>
    </div>

    <div style="padding-left:16px">
        <center>
            <h2>Welcome to Employee Management System</h2>
            <p>
                <img src="/static/images/emp1.jpg" alt="Employee logo" width="500" height="333">
            </p>
        </center>
    </div>


    <div class="footer">
        <div class="epcl-share">
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u=https://codecondo.com/5-platforms-provide-free-django-app-hosting/" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i class="fa fa-facebook"></i></a>
        <a class="twitter" href="http://twitter.com/share?text=5+Platforms+That+Provide+Free+Django+App+Hosting&amp;url=https://codecondo.com/5-platforms-provide-free-django-app-hosting/" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i class="fa fa-twitter"></i></a>
        <a class="googleplus" href="https://plus.google.com/share?url=https://codecondo.com/5-platforms-provide-free-django-app-hosting/" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i class="fa fa-google-plus"></i></a>
        <a href="mailto:?subject=5+Platforms+That+Provide+Free+Django+App+Hosting&amp;body=https://codecondo.com/5-platforms-provide-free-django-app-hosting/" class="email" target="_blank"><i class="fa fa-envelope"></i></a>
        <a class="whatsapp hide-on-tablet hide-on-desktop" href="whatsapp://send?text=https://codecondo.com/5-platforms-provide-free-django-app-hosting/" data-action="share/whatsapp/share"><i class="fa fa-whatsapp"></i></a>
    </div>


        <a href="http://www.linkedin.com" target="_new">
          <img src="http://www.linkedin.com/img/webpromo/btn_viewmy_120x33.gif" width="120" height="33" border="0" alt="View profile on LinkedIn">
        </a>
        <p>© copyright</p>
    </div>
</div>
</body>

</html>