{% load bootstrap3 %} {% load staticfiles %}

<html lang="en">

<head>
    <title>PDF Generation</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <!--css style-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form method="POST" class="post-form" action="/update/{{employee.id}}">
        {% csrf_token %}

        <div class="container">
            <br>
            <div class="form-group row">
                <label class="col-sm-1 col-form-label"></label>
                    <h2>Report for the {{employee.ename}} employee</h2>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Id:</label>
                    {{ employee.eid }}
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Name:</label>
                    {{ employee.ename }}
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Email:</label>
                    {{ employee.eemail }}
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Employee Contact:</label>
                <div class="col-sm-4">
                    {{ employee.econtact }}
                </div>
            </div>

        </div>

        <div class="footer">
            <p>© copyright</p>
        </div>
    </form>
</body>

</html>